@model UI.Models.QuestionManagement.QuestionManagementViewModel
<link rel="stylesheet" href="~/css/general.css" />
<link href="~/css/svg.css" rel="stylesheet" />

<section class="section-content">
    <div id="content-wrapper">
        <h3>Soru Güncelle</h3>
        <div class="btn-group" style="margin-left: 95%;">
            <button type="submit" onclick="UpdateQuestionFunc()" class="btn btn-success" data-bs-dismiss="modal">Kaydet</button>
        </div>

        <form>
            <div class="row">
                <div class="col-md-10">
                    <fieldset>
                        <div class="form-group">
                            <label>Soru Başlığı</label>
                            <input type="text" name="QuestionText" value="@Model.QuestionModel.QuestionText" placeholder="Lütfen soru başlığı giriniz" class="form-control small-input" id="QuestionText" />
                            <input type="text" name="Id" value="@Model.QuestionModel.Id" class="form-control small-input" id="Id" style="display:none;" />
                            <input type="text" name="ExamId" value="@Model.QuestionModel.ExamId" class="form-control small-input" id="ExamId" style="display:none;" />

                        </div>
                    </fieldset>
                </div>
                <div class="col-md-2">
                    <fieldset>
                        <div class="form-group">
                            <label>Puan</label>
                            <input type="number" name="Score" value="@Model.QuestionModel.Score" placeholder="Lütfen soru puanı giriniz" class="form-control small-input" id="Score" />
                        </div>
                    </fieldset>
                </div>
            </div>
          
        </form>
        <br><br /><br />
        <h3>Cevap Güncelle</h3><br />
        <div id="multipleChoiceAnswer">
            <div id="multipleChoiceInput">
            </div>
            <div id="choiceButtonDivId" class="col-md-3" style="margin-left:26%">
                <button onclick="AddChoice()" class="btn btn-success">Seçenek Ekle</button>
            </div>
        </div>

    </div>


</section>


<script>
    var multipleChoiceCount = 0;

    $(document).ready(function () {
        var result = '';
        if (@Model.ChoiceList.Count!= 0) {
            var choiceList = @Html.Raw(Json.Serialize(@Model.ChoiceList));
            document.getElementById("multipleChoiceAnswer").style.visibility = "visible";
            for (var i = 0; i < choiceList.length; i++) {
                $("#multipleChoiceInput").append(' <div class="col-md-2">');
                if (choiceList[i].isTrue == true) {
                    $("#multipleChoiceInput").append('<input type="radio" ' + 'id="' + multipleChoiceCount + 'MChoiceRadioId"' + 'name="fav_language"' + 'checked value="' + multipleChoiceCount + '"' + ' >');
                }
                else {
                    $("#multipleChoiceInput").append('<input type="radio" ' + 'id="' + multipleChoiceCount + 'MChoiceRadioId"' + 'name="fav_language"' + ' value="' + multipleChoiceCount + '"' + ' >');
                }
                $("#multipleChoiceInput").append(' </div>');
                $("#multipleChoiceInput").append('<div class="col-md-4" style="margin-top:-2%;margin-left:1%" ><input type="text"  ' + 'id="' + multipleChoiceCount + 'MChoiceTextId" value="' + choiceList[i].choiceExplanation + '"' + ' name="fname"  class="form-control"' + '></div><br><br>');
                multipleChoiceCount++;
            }
        }
        else {
            console.log("Şık bulunamadı")
        }
    });


    function AddChoice() {
        $("#multipleChoiceInput").append(' <div class="col-md-2">');
        $("#multipleChoiceInput").append('<input type="radio" ' + 'id="' + multipleChoiceCount + 'MChoiceRadioId"' + 'name="fav_language"' + ' value="' + multipleChoiceCount + '"' + ' >');
        $("#multipleChoiceInput").append(' </div>');
        $("#multipleChoiceInput").append('<div class="col-md-4" style="margin-top:-2%;margin-left:1%" ><input type="text"  ' + 'id="' + multipleChoiceCount + 'MChoiceTextId"' + ' name="fname "  class="form-control"' + '></div><br><br>');
        $("#multipleChoiceInput").append(' </div>'); 
        multipleChoiceCount++;

    }

    function UpdateQuestionFunc() {
        const answerArray = [];
        var trueAnswer = '';
        var getError = false;
        for (var i = 0; i < multipleChoiceCount; i++) {
            if ($('#' + i.toString() + 'MChoiceTextId').val() == '') {
                getError = true;
            }
            else {

                answerArray.push($('#' + i.toString() + 'MChoiceTextId').val());
            }
        }
        var getSelectedValue = document.querySelector('input[name="fav_language"]:checked');

        if (getSelectedValue != null) {
            trueAnswer = document.querySelector('input[name="fav_language"]:checked').value;
        }
        else {
            getError = true;
        }

        if (!getError) {

            let viewModel = {
                Id: $('#Id').val(),
                QuestionText: $('#QuestionText').val(),
                ExamId: $('#ExamId').val(),
                Score: $('#Score').val(),
                AnswerArray: answerArray,
                TrueAnswer: trueAnswer,
            };

            $.ajax({
                url: '@Url.Action("Update", "QuestionManagement")',
                type: 'post',
                data: viewModel,
                success: function () {
                    window.location.href = '@Url.Action("Index", "QuestionManagement")' + "?id=" + $('#ExamId').val();
                },
                error: function (errMsg) {
                    alert(errMsg);
                }
            })
        }
        else {
            alert("Tüm alanlar dolu olmalıdır.")
        }

    }
</script>