@model UI.Models.ViewModels.UserExamViewModel

<section class="section-content">
    <div class="row">
        <table class="table table-bordered" id="examUserTable">
            <thead>
                <tr>
                    <th scope="col">Sınav Adı</th>
                    <th scope="col">Başlangıç Tarihi</th>
                    <th scope="col">Bitiş Tarihi</th>
                    <th scope="col">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ExamUserList != null)
                {
                    @foreach (var item in Model.ExamUserList)
                    {
                        <tr>
                            <td>@Model.ExamList?.FirstOrDefault(x => x.Id == item.ExamId)?.ExamName</td>
                            <td>@Model.ExamList?.FirstOrDefault(x => x.Id == item.ExamId)?.ExamStartTime</td>
                            <td>@Model.ExamList?.FirstOrDefault(x => x.Id == item.ExamId)?.ExamEndTime</td>
                            <td>
                                @if (Model.ExamList?.FirstOrDefault(x => x.Id == item.ExamId)?.IsEnded == "1")
                                {
                                    <button disabled="disabled" onclick="location.href='@Url.Action("StartExam","ExamUser", new{examId = item.ExamId})'" class="btn btn-info">Başlat</button>
                                }
                                else
                                {
                                    <button onclick="location.href='@Url.Action("StartExam","ExamUser", new{examId = item.ExamId})'" class="btn btn-info">Başlat</button>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>